.container{
  width: 98%;
  overflow: hidden;
  margin: auto;


}


.col_1, .col_2, .col_3{
  float: left;
  margin: 0.5%;
  border-radius: 25px;
}

.col_1{

  background-color: #333;
  width: 99%;
}

.col_2{

  width: 29%;

}

.col_3{
  width: 69%;

}

#experi{
  margin: auto;
  transition: 1s;
  width: 80%;
}

#experi:hover{
  width: 95%;
}



.texto{
  text-align: justify;
  border: 4px solid #333;
  border-radius: 25px;
  text-indent: 25px;
  padding: 5px;
  background-color: white;
}

.texto span{

  font-weight: bold;
}

#menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

img{
  width: 100%;

}

h2{
  text-align: center;
  color: white;
}

h3{
  text-align: center;
}

li{
  /*display: inline;*/
  float: left;

}

a{
  display: block;
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
